.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: rgb(31, 41, 55);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 25px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
}

.sidebar a:hover {
  background-color: rgb(55, 65, 81);
}

.content {
  flex: 1;
  padding: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}